/* style.css */

.main{
    width:100%;
    height:1000px;
    margin:0 auto;
    position: relative;
    display:flex;
    flex-direction: column;
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); 
}

.caption{
    width:100%;
    height:50px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size:39px;
    font-style: italic;
    font-weight: bold;
    color:darkred;
    text-align: center;
}

.block_new_task{
    width:90%;
    margin-left: 5%;
    height:50px;
}

#add_task{
    background-color: darkblue;
    color:white;
    border:none;
    border-radius: 3px;
    font-size:20px;
    padding:10px;
}

#add_task:hover{
    cursor:pointer;
}

.tasks_board{
    width:90%;
    margin-left: 5%;
    margin-top: 40px;
    height:700px;
    background-color:lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.board_block1, .board_block2, .board_block3{
    width:30%;
    height:700px;
    background-color:yellow;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.caption_1{
    width:80%;
    height:25px;
    font-size:20px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: orange;
    text-align: center;
    color:white;
}

.caption_2{
    width:80%;
    height:25px;
    font-size:20px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background-color:blueviolet;
    text-align: center;
    color:white;
}

.caption_3{
    width:80%;
    height:25px;
    font-size:20px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background-color:green;
    text-align: center;
    color:white;
}

.new_task{
    width:60%;
    height:580px;
    background-color: white;
    position: absolute;
    top:127px;
    left:20%;
    display: flex;
    flex-direction: column;
    display: none;

}


.caption_4{
    width:80%;
    height:80px;
    margin-left: 10%;
    font-size:32px;
    padding-top: 40px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    color:black;
}


#form_task{
    width:80%;
    height:400px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.elem{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#task_title{
    height:40px;
}

label{
    font-size:20px;
    font-weight: bold;
    color:darkblue;
    margin-bottom: -10px;
}

.elem_date{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.date_1{
    width:45%;
    height:90px;
}

.date_2{
    width:45%;
    height:90px;
}

#start_date, #end_date{
    height:40px;
    width:90%;
    margin-top: 10px;
}


#btn_add{
    width:30%;
    font-size:20px;
    color:white;
    background-color: darkred;
    border:none;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

#btn_add:hover{
    cursor: pointer;
}

.btn_elem{
    width:100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-between;
}



.task{
    width:90%;
    height:220px;
    background-color: white;
    margin-left: 1%;
    margin-top:20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.title{
    width:90%;
    height:30px;
    font-size:24px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5%;
    border-bottom: 1px grey dotted;
    color:darkred;
}


.description{
    width:90%;
    height:70px;
    font-size:14px;
    margin-left: 5%;
    margin-top: 5px;
    border-bottom: 1px grey dotted;
}

.start, .end{
    width:90%;
    height:30px;
    font-size:16px;
    margin-left: 5%;
    margin-top: 7px;
    color:darkblue;
}


.icons{
    width:30%;
    height:30px;
    font-size:16px;
    margin-left: 5%;
    margin-left: 65%;
}


.icons img{
    margin-left: 20px;
    height:70%;
}

.icons img:hover{
   cursor: pointer;
}